<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
    <title>Scoring Server</title>
    {% endblock %}
  </head>
  <body>
      
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            </button>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{{ url_for('teams') }}">Teams</a>
                </li>
                <li class="nav-item">
                <a class="nav-link " href="{{ url_for('services') }}">Services</a>
                </li>
            </ul>
            </div>
        </nav>
    </header>
          
    <div id="content" class="container">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      {% endblock %}
    </div>
  </body>
</html>